openapi: 3.0.3
info:
  title: API Laravel Water Utility
  description: API para el sistema de utilidad de agua
  version: 1.0.0
servers:
  - url: https://api-v1.soapamz.xyz/public
    description: Producción
  - url: http://localhost:8000
    description: Desarrollo
tags:
  - name: Observaciones Adicionales
    x-displayName: Observaciones Adicionales
  - name: Pagos Adicionales
    x-displayName: Pagos Adicionales
  - name: Convenios
    x-displayName: Convenios
  - name: Autenticación
    x-displayName: Autenticación
  - name: Beneficiarios
    x-displayName: Beneficiarios
  - name: Arqueos de caja
    x-displayName: Arqueos de caja
  - name: Catálogos
    x-displayName: Catálogos
  - name: Contactos de Respaldo
    x-displayName: Contactos de Respaldo
  - name: Colonias
    x-displayName: Colonias
  - name: Comités
    x-displayName: Comités
  - name: Clientes
    x-displayName: Clientes
  - name: Autenticación del Cliente
    x-displayName: Autenticación del Cliente
  - name: Vista del Cliente
    x-displayName: Vista del Cliente
  - name: Cuentas Extraordinarias
    x-displayName: Cuentas Extraordinarias
  - name: Logs
    x-displayName: Logs
  - name: Materiales
    x-displayName: Materiales
  - name: Materiales Usados en Reporte
    x-displayName: Materiales Usados en Reporte
  - name: Agenda de Lectura del Medidor
    x-displayName: Agenda de Lectura del Medidor
  - name: Cargos Mensuales del Servicio
    x-displayName: Cargos Mensuales del Servicio
  - name: Notificaciones
    x-displayName: Notificaciones
  - name: Pagos
    x-displayName: Pagos
  - name: PDF
    x-displayName: PDF
  - name: PDF Cliente
    x-displayName: PDF Cliente
  - name: Lecturas
    x-displayName: Lecturas
  - name: Adeudos Restantes
    x-displayName: Adeudos Restantes
  - name: Reportes
    x-displayName: Reportes
  - name: Notas de reporte
    x-displayName: Notas de reporte
  - name: Materiales de reporte
    x-displayName: Materiales de reporte
  - name: Notas de Reporte
    x-displayName: Notas de Reporte
  - name: Usuarios
    x-displayName: Usuarios
  - name: Tank Logs
    x-displayName: Tank Logs
  - name: Zonas
    x-displayName: Zonas
paths:
  /api/additional-observations:
    get:
      summary: Listar todas las observaciones adicionales
      tags:
        - Observaciones Adicionales
      responses:
        '200':
          description: Lista de observaciones adicionales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdditionalObservationResource'
        '401':
          description: No autorizado
    post:
      summary: Crear una nueva observación adicional
      tags:
        - Observaciones Adicionales
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreAdditionalObservationRequest'
      responses:
        '201':
          description: Observación creada exitosamente
        '400':
          description: Error de validación
        '401':
          description: No autorizado
  /api/additional-observations/{id}:
    get:
      summary: Obtener una observación adicional por ID
      tags:
        - Observaciones Adicionales
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la observación adicional
      responses:
        '200':
          description: Observación encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalObservationResource'
        '404':
          description: Observación no encontrada
    patch:
      summary: Actualizar una observación adicional existente
      tags:
        - Observaciones Adicionales
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la observación adicional
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdditionalObservationRequest'
      responses:
        '200':
          description: Observación actualizada exitosamente
        '400':
          description: Error de validación
        '404':
          description: Observación no encontrada
    delete:
      summary: Eliminar una observación adicional existente
      tags:
        - Observaciones Adicionales
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la observación adicional
      responses:
        '204':
          description: Observación eliminada exitosamente
        '404':
          description: Observación no encontrada
  /api/additional-payments:
    get:
      summary: Listar todos los pagos adicionales
      tags:
        - Pagos Adicionales
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de pagos adicionales
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalPaymentCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo pago adicional
      tags:
        - Pagos Adicionales
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreAdditionalPaymentRequest'
      responses:
        '201':
          description: Pago adicional creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalPaymentResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/additional-payments/{id}:
    get:
      summary: Obtener un pago adicional por ID
      tags:
        - Pagos Adicionales
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pago adicional encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalPaymentResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener el pago adicional
    patch:
      summary: Actualizar un pago adicional existente
      tags:
        - Pagos Adicionales
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdditionalPaymentRequest'
      responses:
        '200':
          description: Pago adicional actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalPaymentResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar el pago adicional
    delete:
      summary: Cancelar un pago adicional existente
      tags:
        - Pagos Adicionales
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pago adicional cancelado exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al cancelar el pago adicional
  /api/payment-agreements:
    get:
      summary: Listar convenios de pago
      tags:
        - Convenios
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de convenios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementCollection'
        '401':
          description: No autorizado
    post:
      summary: Crear un nuevo convenio de pago
      tags:
        - Convenios
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreAgreementRequest'
      responses:
        '201':
          description: Convenio creado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementResource'
        '401':
          description: No autorizado
        '500':
          description: Error al crear el convenio
  /api/payment-agreements/{id}:
    get:
      summary: Obtener convenio por ID
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Convenio encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementResource'
        '401':
          description: No autorizado
        '404':
          description: Convenio no encontrado
    delete:
      summary: Cancelar convenio
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Convenio cancelado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Convenio eliminado exitosamente.
        '404':
          description: Convenio no encontrado
        '500':
          description: Error al cancelar el convenio
  /api/payment-agreements/customer/{id}:
    get:
      summary: Listar fechas de pago de convenio por cliente
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fechas de pago encontradas
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_agreement:
                    $ref: '#/components/schemas/AgreementResource'
                  breakdown_agreement_payments:
                    $ref: '#/components/schemas/BreakdownAgreementPaymentCollection'
        '401':
          description: No autorizado
        '404':
          description: Convenio no encontrado
  /api/payment-agreements/breakdown_agreement/{id}:
    post:
      summary: Realizar pago parcial de convenio
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pago realizado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Pago realizado exitosamente.
        '404':
          description: Convenio no encontrado
        '500':
          description: Error al realizar el pago
  /api/payment-agreements/report/{id}:
    post:
      summary: Generar reporte por incumplimiento de convenio
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Reporte generado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  message:
                    type: string
                    example: Reporte generado correctamente.
        '404':
          description: Convenio no encontrado
        '500':
          description: Error al generar el reporte
  /api/payment-agreements/filter-date:
    get:
      summary: Filtrar pagos de convenio por mes y año
      tags:
        - Convenios
      security:
        - bearerAuth: []
      parameters:
        - name: month
          in: query
          required: false
          schema:
            type: string
            example: '08'
        - name: year
          in: query
          required: false
          schema:
            type: string
            example: '2025'
      responses:
        '200':
          description: Lista de pagos filtrados por mes y año
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakdownAgreementPaymentCollection'
        '401':
          description: No autorizado
  /api/login:
    post:
      summary: Iniciar sesión y obtener token
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Usuario y token de acceso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResource'
        '401':
          description: Credenciales inválidas
  /api/register:
    post:
      summary: Registrar un nuevo usuario
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Usuario registrado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResource'
        '400':
          description: Error de validación
  /api/logout:
    post:
      summary: Cerrar sesión
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Sesión cerrada exitosamente
        '401':
          description: Error de autorización
  /api/register/invitation:
    post:
      summary: Enviar un token para registrarse
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationRequest'
      responses:
        '201':
          description: Correo de invitación enviado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResource'
        '400':
          description: Error de validación
        '401':
          description: Error de autorización
  /api/beneficiaries:
    get:
      summary: Listar todos los beneficiarios
      tags:
        - Beneficiarios
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Lista de beneficiarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo beneficiario
      tags:
        - Beneficiarios
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreBeneficiaryRequest'
      responses:
        '201':
          description: Beneficiario creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/beneficiaries/{id}:
    get:
      summary: Obtener un beneficiario por ID
      tags:
        - Beneficiarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Beneficiario encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener el beneficiario
    put:
      summary: Actualizar un beneficiario existente
      tags:
        - Beneficiarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBeneficiaryRequest'
      responses:
        '200':
          description: Beneficiario actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar el beneficiario
    delete:
      summary: Eliminar un beneficiario existente
      tags:
        - Beneficiarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Beneficiario eliminado exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al eliminar el beneficiario
  /api/cash-register-audits:
    get:
      summary: Listar arqueos de caja
      tags:
        - Arqueos de caja
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de arqueos de caja
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashRegisterAuditCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo arqueo de caja
      tags:
        - Arqueos de caja
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCashRegisterAuditRequest'
      responses:
        '201':
          description: Arqueo creado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Arqueo creado exitosamente
        '400':
          description: Error de validación
        '401':
          description: Error de autorización
        '500':
          description: Error al crear el arqueo
  /api/cash-register-audits/{id}:
    get:
      summary: Obtener arqueo de caja por ID
      tags:
        - Arqueos de caja
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Arqueo encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashRegisterAuditResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
    delete:
      summary: Eliminar un arqueo de caja
      tags:
        - Arqueos de caja
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Arqueo eliminado exitosamente
          content:
            application/json:
              schema:
                type: string
                example: Arqueo eliminado exitosamente
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/cash-register-audits/amounts:
    get:
      summary: Obtener totales de arqueo de caja por rango de fechas
      tags:
        - Arqueos de caja
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Fecha de inicio del rango
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Fecha de fin del rango
      responses:
        '200':
          description: Totales de arqueo de caja por rango de fechas
          content:
            application/json:
              schema:
                type: object
                properties:
                  amounts:
                    type: object
                    properties:
                      system_cash:
                        type: number
                        format: float
                      system_cash_remaining:
                        type: number
                        format: float
                      system_additional:
                        type: number
                        format: float
        '401':
          description: Error de autorización
  /api/report-categories:
    get:
      summary: Listar todas las categorías de reportes
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportCategoryResource'
        '401':
          description: No autorizado
  /api/payment-types:
    get:
      summary: Listar todos los tipos de pago
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentTypesResource'
        '401':
          description: No autorizado
  /api/process-status:
    get:
      summary: Listar todos los estados de procesos
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProcessStatusResource'
        '401':
          description: No autorizado
  /api/classification-types:
    get:
      summary: Listar todos los tipos de clasificación
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassificationTypeResource'
        '401':
          description: No autorizado
  /api/customer-types:
    get:
      summary: Listar todos los tipos de clientes
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerTypeResource'
        '401':
          description: No autorizado
  /api/service-types:
    get:
      summary: Listar todos los tipos de servicios
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceTypeResource'
        '401':
          description: No autorizado
  /api/use-of-types:
    get:
      summary: Listar todos los tipos de uso
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UseOfTypeResource'
        '401':
          description: No autorizado
  /api/classification-of-materials:
    get:
      summary: Listar todas las clasificaciones de materiales
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassificationOfMaterialsResource'
        '401':
          description: No autorizado
  /api/report-priorities:
    get:
      summary: Listar todas las prioridades de reportes
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportPriorityResource'
        '401':
          description: No autorizado
  /api/reports-subcategories:
    get:
      summary: Listar todas las subcategorías de reportes
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportSubcategoryResource'
        '401':
          description: No autorizado
  /api/reports-child-subcategories:
    get:
      summary: Listar todas las subcategorías hijas de reportes
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportChildSubcategoryResource'
        '401':
          description: No autorizado
  /api/service-status:
    get:
      summary: Listar todos los estados de servicio
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceStatusResource'
        '401':
          description: No autorizado
  /api/unities:
    get:
      summary: Listar todas las unidades
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitiesResource'
        '401':
          description: No autorizado
  /api/roles:
    get:
      summary: Listar todos los roles
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoleResource'
        '401':
          description: No autorizado
  /api/water-tanks:
    get:
      summary: Listar todos los tanques de agua
      tags:
        - Catálogos
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de tanques de agua
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaterTankResource'
        '401':
          description: No autorizado
  /api/client-backup-contacts:
    get:
      summary: Listar todos los contactos de respaldo
      tags:
        - Contactos de Respaldo
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Lista de contactos de respaldo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBackupContactCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo contacto de respaldo
      tags:
        - Contactos de Respaldo
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreClientBackupContactRequest'
      responses:
        '201':
          description: Contacto de respaldo creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBackupContactResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/client-backup-contacts/{id}:
    get:
      summary: Obtener un contacto de respaldo por ID
      tags:
        - Contactos de Respaldo
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contacto de respaldo encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBackupContactResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener el contacto de respaldo
    put:
      summary: Actualizar un contacto de respaldo existente
      tags:
        - Contactos de Respaldo
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientBackupContactRequest'
      responses:
        '200':
          description: Contacto de respaldo actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientBackupContactResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar el contacto de respaldo
    delete:
      summary: Eliminar un contacto de respaldo existente
      tags:
        - Contactos de Respaldo
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contacto de respaldo eliminado exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al eliminar el contacto de respaldo
  /api/colonies:
    get:
      summary: Listar todas las colonias
      tags:
        - Colonias
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de colonias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColonyCollection'
    post:
      summary: Crear una nueva colonia
      tags:
        - Colonias
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreColonyRequest'
      responses:
        '201':
          description: Colonia creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColonyResource'
        '401':
          description: Error de autorización
  /api/colonies/{id}:
    put:
      summary: Actualizar una colonia existente
      tags:
        - Colonias
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateColonyRequest'
      responses:
        '200':
          description: Colonia actualizada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColonyResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
    delete:
      summary: Eliminar una colonia
      tags:
        - Colonias
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Colonia eliminada exitosamente
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/committees:
    get:
      summary: Listar todos los comités
      tags:
        - Comités
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de comités
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo comité
      tags:
        - Comités
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCommitteeRequest'
      responses:
        '201':
          description: Comité creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/committees/{id}:
    get:
      summary: Obtener un comité por ID
      tags:
        - Comités
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Comité encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener el comité
    patch:
      summary: Actualizar un comité existente
      tags:
        - Comités
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommitteeRequest'
      responses:
        '200':
          description: Comité actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar el comité
    delete:
      summary: Eliminar un comité existente
      tags:
        - Comités
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Comité eliminado exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al eliminar el comité
  /api/customers:
    get:
      summary: Listar todos los clientes
      tags:
        - Clientes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de clientes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo cliente
      tags:
        - Clientes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCustomerRequest'
      responses:
        '201':
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/customers/{id}:
    get:
      summary: Obtener un cliente por ID
      tags:
        - Clientes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener el cliente
    patch:
      summary: Actualizar un cliente existente
      tags:
        - Clientes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Usuario actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar el cliente
      delete:
        summary: Eliminar un cliente existente
        tags:
          - Clientes
        security:
          - bearerAuth: []
        parameters:
          - name: id
            in: path
            required: true
            schema:
              type: integer
        responses:
          '204':
            description: Usuario cancelado exitosamente
          '404':
            description: Recurso no encontrado
          '500':
            description: Error al eliminar el cliente
  /api/customer-view/login:
    post:
      summary: Autenticar cliente
      tags:
        - Autenticación del Cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginCustomerRequest'
      responses:
        '200':
          description: Cliente autenticado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAuthResource'
        '401':
          description: Credenciales inválidas
        '404':
          description: Usuario no encontrado
  /api/customer-view/register:
    post:
      summary: Registrar un nuevo cliente
      tags:
        - Autenticación del Cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCustomerRequest'
      responses:
        '201':
          description: Cliente registrado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAuthResource'
        '401':
          description: Error de autorización
        '422':
          description: Datos inválidos
  /api/customer-view/logout:
    post:
      summary: Cerrar sesión del cliente
      tags:
        - Autenticación del Cliente
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Sesión cerrada correctamente
        '401':
          description: Token inválido o no proporcionado
  /api/customer-view/verify-token:
    post:
      summary: Verificar token y obtener datos básicos del cliente
      tags:
        - Autenticación del Cliente
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token válido, datos básicos del cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyTokenResource'
        '401':
          description: Token inválido o expirado
  /api/customer-view/{id}:
    get:
      summary: Obtener datos de un cliente
      tags:
        - Vista del Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Datos del cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResource'
        '401':
          description: No autorizado
        '404':
          description: Cliente no encontrado
  /api/customer-view/statistics/{id}:
    get:
      summary: Obtener estadísticas del cliente
      tags:
        - Vista del Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Estadísticas del cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatisticsResource'
        '401':
          description: No autorizado
        '404':
          description: Cliente no encontrado
  /api/customer-view/reports/{id}:
    get:
      summary: Listar reportes del cliente
      tags:
        - Vista del Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de reportes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerViewReportCollection'
        '401':
          description: No autorizado
        '404':
          description: Cliente no encontrado
  /api/extraordinary-accounts:
    get:
      summary: Listar todas las cuentas extraordinarias
      tags:
        - Cuentas Extraordinarias
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de cuentas extraordinarias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtraordinaryAccountCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear una nueva cuenta extraordinaria
      tags:
        - Cuentas Extraordinarias
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreExtraordinaryAccountRequest'
      responses:
        '201':
          description: Cuenta extraordinaria creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtraordinaryAccountResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/extraordinary-accounts/{id}:
    delete:
      summary: Eliminar una cuenta extraordinaria existente
      tags:
        - Cuentas Extraordinarias
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Cuenta extraordinaria eliminada exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al eliminar la cuenta extraordinaria
  /api/logs:
    get:
      summary: Listar registros de actividad
      tags:
        - Logs
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            example: Report
          description: Filtra por el nombre del log (log_name)
        - name: subject
          in: query
          required: false
          schema:
            type: integer
            example: 1
          description: Filtra por el ID del sujeto relacionado (subject_id)
      responses:
        '200':
          description: Lista paginada de registros de actividad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogCollection'
        '403':
          description: No tienes permiso para ver los registros de actividad
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No tienes permiso para ver los registros de actividad.
  /api/materials:
    get:
      summary: Buscar materiales por nombre
      tags:
        - Materiales
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          required: true
          schema:
            type: string
            minLength: 5
      responses:
        '200':
          description: Lista de materiales encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialCollection'
        '400':
          description: Error en la búsqueda
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
    post:
      summary: Crear un nuevo material
      tags:
        - Materiales
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMaterialRequest'
      responses:
        '201':
          description: Material creado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  material:
                    $ref: '#/components/schemas/MaterialResource'
        '401':
          description: No autorizado
        '500':
          description: Error al crear el material
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/materials/{id}:
    delete:
      summary: Eliminar un material
      tags:
        - Materiales
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Material eliminado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '500':
          description: Error al eliminar el material
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/material-used:
    get:
      summary: Listar materiales usados en un reporte
      tags:
        - Materiales Usados en Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: report_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de materiales usados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialUsedCollection'
        '401':
          description: No autorizado
    post:
      summary: Agregar material usado a un reporte
      tags:
        - Materiales Usados en Reporte
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMaterialUsedRequest'
      responses:
        '201':
          description: Material usado agregado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/MaterialUsedResource'
        '401':
          description: No autorizado
        '500':
          description: Error al agregar el material usado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/material-used/{id}:
    delete:
      summary: Eliminar material usado de un reporte
      tags:
        - Materiales Usados en Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Material usado eliminado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '500':
          description: Error al eliminar el material usado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/meter-reading-schedules:
    get:
      summary: Listar apartados de lectura de medidor del usuario autenticado
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de apartados de lectura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterReadingScheduleCollection'
        '401':
          description: No autorizado
    post:
      summary: Crear un nuevo apartado de lectura de medidor
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMeterReadScheduleRequest'
      responses:
        '201':
          description: Apartado creado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  meter_reading_schedule:
                    $ref: '#/components/schemas/MeterReadingScheduleResource'
        '401':
          description: No autorizado
        '500':
          description: Error al crear el apartado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/meter-reading-schedules/{id}:
    get:
      summary: Obtener un apartado de lectura por ID
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Apartado encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterReadingScheduleResource'
        '401':
          description: No autorizado
        '404':
          description: Apartado no encontrado
    patch:
      summary: Actualizar un apartado de lectura
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeterReadScheduleRequest'
      responses:
        '200':
          description: Apartado actualizado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  meter_reading_schedule:
                    $ref: '#/components/schemas/MeterReadingScheduleResource'
        '401':
          description: No autorizado
        '500':
          description: Error al actualizar el apartado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      summary: Eliminar un apartado de lectura
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Apartado eliminado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '404':
          description: Apartado no encontrado
        '409':
          description: No se puede eliminar el apartado ya procesado
        '500':
          description: Error al eliminar el apartado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/meter-reading-finished:
    get:
      summary: Listar apartados de lectura finalizados
      tags:
        - Agenda de Lectura del Medidor
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de apartados finalizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeterReadingScheduleCollection'
        '401':
          description: No autorizado
        '404':
          description: No se encontraron registros
  /api/monthly-service-charges:
    get:
      summary: Listar todos los cargos mensuales
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de cargos mensuales
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo cargo mensual
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMonthlyServiceChargeRequest'
      responses:
        '201':
          description: Cargo mensual creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/monthly-service-charges/{customer_id}:
    get:
      summary: Obtener cargos mensuales por cliente
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Cargos mensuales encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeCollection'
        '401':
          description: Error de autorización
        '404':
          description: Cliente no encontrado
    patch:
      summary: Actualizar cargos mensuales de un cliente
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMonthlyServiceChargeRequest'
      responses:
        '200':
          description: Cargos mensuales actualizados exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeCollection'
        '401':
          description: Error de autorización
        '404':
          description: Cliente no encontrado
  /api/monthly-service-charges/{customer_id}/forgiveness:
    get:
      summary: Obtener cargos condonados por cliente
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Cargos condonados encontrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeCollection'
        '401':
          description: Error de autorización
        '404':
          description: Cliente no encontrado
  /api/filter-msc:
    post:
      summary: Filtrar cargos mensuales
      tags:
        - Cargos Mensuales del Servicio
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Cargos mensuales filtrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyServiceChargeCollection'
        '401':
          description: Error de autorización
  /api/notices:
    get:
      summary: Listar todas las notificaciones
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de notificaciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear una nueva notificación
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreNoticeRequest'
      responses:
        '201':
          description: Notificación creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeResource'
        '401':
          description: Error de autorización
        '404':
          description: Recurso no encontrado
  /api/notices/{id}:
    get:
      summary: Obtener una notificación por ID
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notificación encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al obtener la notificación
    patch:
      summary: Actualizar una notificación existente
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoticeRequest'
      responses:
        '200':
          description: Notificación actualizada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeResource'
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al actualizar la notificación
    delete:
      summary: Eliminar una notificación existente
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Notificación eliminada exitosamente
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al eliminar la notificación
    post:
      summary: Generar reporte por incumplimiento
      tags:
        - Notificaciones
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotComplianceNoticeRequest'
      responses:
        '200':
          description: Reporte generado por incumplimiento
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '404':
          description: Notificación no encontrada
  /api/payments:
    get:
      summary: Listar pagos de un cliente
      tags:
        - Pagos
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de pagos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCollection'
        '400':
          description: No se especificó el usuario
        '401':
          description: No autorizado
    post:
      summary: Registrar un nuevo pago
      tags:
        - Pagos
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorePaymentRequest'
      responses:
        '201':
          description: Pago registrado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  payment:
                    $ref: '#/components/schemas/PaymentResource'
        '401':
          description: No autorizado
        '500':
          description: Error al registrar el pago
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/payments/{id}:
    get:
      summary: Obtener un pago por ID
      tags:
        - Pagos
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pago encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResource'
        '401':
          description: No autorizado
        '404':
          description: Pago no encontrado
    patch:
      summary: Actualizar un pago
      tags:
        - Pagos
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentRequest'
      responses:
        '200':
          description: Pago actualizado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  payment:
                    $ref: '#/components/schemas/PaymentResource'
        '401':
          description: No autorizado
        '500':
          description: Error al actualizar el pago
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
    delete:
      summary: Cancelar un pago
      tags:
        - Pagos
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pago cancelado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '500':
          description: Error al cancelar el pago
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/pdf/receipt/{folio}:
    get:
      summary: Descargar recibo de pago en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: folio
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de pago PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/pdf/remaining-receipt/{folio}:
    get:
      summary: Descargar recibo de pago restante en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: folio
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de pago restante PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/pdf/water-receipt/{folio}:
    get:
      summary: Descargar recibo de agua en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: folio
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de agua PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/pdf/report/{id}:
    get:
      summary: Descargar reporte en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Reporte PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: ID inválido
        '404':
          description: Reporte no encontrado
  /api/customer-view/pdf/receipt/{folio}:
    get:
      summary: Descargar recibo de pago en PDF para cliente
      tags:
        - PDF Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: folio
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de pago PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/customer-view/pdf/remaining-receipt/{folio}:
    get:
      summary: Descargar recibo de pago restante en PDF para cliente
      tags:
        - PDF Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de pago restante PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/customer-view/pdf/water-receipt/{folio}:
    get:
      summary: Descargar recibo de agua en PDF para cliente
      tags:
        - PDF Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de agua PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/customer-view/pdf/report/{id}:
    get:
      summary: Descargar reporte en PDF para cliente
      tags:
        - PDF Cliente
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Reporte PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: ID inválido
        '404':
          description: Reporte no encontrado
  /api/pdf/cash-register-audit/{id}:
    get:
      summary: Descargar auditoría de corte de caja en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Auditoría de corte de caja PDF generada exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: ID inválido
        '404':
          description: Auditoría no encontrada
  /api/pdf/additional-receipt/{folio}:
    get:
      summary: Descargar recibo de pago adicional en PDF
      tags:
        - PDF
      security:
        - bearerAuth: []
      parameters:
        - name: folio
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recibo de pago adicional PDF generado exitosamente
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Folio inválido
        '404':
          description: Recibo no encontrado
  /api/readings:
    get:
      summary: Listar lecturas pendientes del mes
      tags:
        - Lecturas
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Lista paginada de lecturas pendientes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasuredServCustomerCollection'
        '401':
          description: No autorizado
  /api/readings/{customer_id}:
    get:
      summary: Obtener la lectura de un cliente por mes y año
      tags:
        - Lecturas
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: integer
        - name: month
          in: query
          required: false
          schema:
            type: string
        - name: year
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Lectura encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasuredServCustomerResource'
        '401':
          description: No autorizado
        '404':
          description: Lectura no encontrada
  /api/readings/{monthly_service_charge_id}:
    patch:
      summary: Actualizar una lectura de medidor
      tags:
        - Lecturas
      security:
        - bearerAuth: []
      parameters:
        - name: monthly_service_charge_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReadingRequest'
      responses:
        '200':
          description: Lectura actualizada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: No autorizado
        '500':
          description: Error al actualizar la lectura
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
  /api/readings/filter:
    post:
      summary: Filtrar lecturas pendientes
      tags:
        - Lecturas
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterReadingRequest'
      responses:
        '200':
          description: Lista paginada de lecturas filtradas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasuredServCustomerCollection'
        '401':
          description: No autorizado
  /api/remaining-payments:
    get:
      summary: Listar todos los adeudos restantes
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de adeudos restantes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemainingPaymentCollection'
        '401':
          description: Error de autorización
    post:
      summary: Crear un nuevo adeudo restante
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreRemainingPaymentRequest'
      responses:
        '201':
          description: Adeudo creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemainingPaymentResource'
        '400':
          description: Error de validación
        '401':
          description: Error de autorización
  /api/remaining-payments/{id}:
    get:
      summary: Obtener un adeudo restante por ID
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del adeudo restante
      responses:
        '200':
          description: Adeudo encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemainingPaymentResource'
        '404':
          description: Recurso no encontrado
    patch:
      summary: Actualizar un adeudo restante existente
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del adeudo restante
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRemainingPaymentRequest'
      responses:
        '200':
          description: Adeudo actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemainingPaymentResource'
        '400':
          description: Error de validación
        '404':
          description: Recurso no encontrado
    delete:
      summary: Eliminar un adeudo restante existente
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del adeudo restante
      responses:
        '204':
          description: Adeudo eliminado exitosamente
        '404':
          description: Recurso no encontrado
  /api/pay-remaining-payment:
    post:
      summary: Pagar un adeudo restante
      tags:
        - Adeudos Restantes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRemainingPaymentRequest'
      responses:
        '200':
          description: Pago procesado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Error de validación
        '404':
          description: Recurso no encontrado
        '500':
          description: Error al procesar el pago
  /api/reports:
    get:
      summary: Listar todos los reportes
      tags:
        - Reportes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de reportes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
        '401':
          description: No autorizado
    post:
      summary: Crear un nuevo reporte
      tags:
        - Reportes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreReportRequest'
      responses:
        '201':
          description: Reporte creado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResource'
        '401':
          description: No autorizado
        '500':
          description: Error al crear el reporte
  /api/reports/{id}:
    get:
      summary: Obtener un reporte por ID
      tags:
        - Reportes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Reporte encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResource'
        '401':
          description: No autorizado
        '404':
          description: Reporte no encontrado
    patch:
      summary: Actualizar un reporte existente
      tags:
        - Reportes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportRequest'
      responses:
        '200':
          description: Reporte actualizado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResource'
        '404':
          description: Reporte no encontrado
        '500':
          description: Error al actualizar el reporte
    delete:
      summary: Eliminar un reporte existente
      tags:
        - Reportes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Reporte cancelado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Reporte cancelado correctamente.
        '404':
          description: Reporte no encontrado
        '500':
          description: Error al eliminar el reporte
  /api/filter-reports:
    post:
      summary: Filtrar reportes
      tags:
        - Reportes
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterReportRequest'
      responses:
        '200':
          description: Lista de reportes filtrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
        '401':
          description: No autorizado
  /api/report-be-paid/{id}:
    post:
      summary: Marcar reporte como obligatorio de pago
      tags:
        - Reportes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: El reporte ha sido registrado como obligatorio de pago
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: El reporte ha sido registrado a obligatorio ser pagado.
        '409':
          description: Error de negocio
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Error al marcar como obligatorio de pago.
  /api/reports-geo-data:
    get:
      summary: Obtener datos geográficos del reporte
      tags:
        - Reportes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Datos geográficos del reporte
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          description: No autorizado
  /api/verify-report-status/{tracking_folio}:
    get:
      summary: Verificar el estado de un reporte por folio de seguimiento
      tags:
        - Reportes
      security:
        - bearerAuth: []
      parameters:
        - name: tracking_folio
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proceso verificado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Proceso verificado.
        '401':
          description: No autorizado
        '404':
          description: Reporte no encontrado
  /api/report-notes/{id}/images:
    post:
      summary: Agregar imágenes a la nota de reporte
      tags:
        - Notas de reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Imágenes agregadas correctamente
          content:
            application/json:
              schema:
                type: object
        '401':
          description: No autorizado
  /api/report-materials:
    get:
      summary: Listar materiales de reporte
      tags:
        - Materiales de reporte
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de materiales de reporte
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: No autorizado
    post:
      summary: Crear material de reporte
      tags:
        - Materiales de reporte
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Material creado correctamente
          content:
            application/json:
              schema:
                type: object
        '401':
          description: No autorizado
    delete:
      summary: Eliminar material de reporte
      tags:
        - Materiales de reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Material eliminado correctamente
          content:
            application/json:
              schema:
                type: object
        '401':
          description: No autorizado
  /api/report-notes:
    get:
      summary: Listar notas de un reporte
      tags:
        - Notas de Reporte
      parameters:
        - name: report_id
          in: query
          required: true
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de notas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteCollection'
        '400':
          description: El id del reporte es obligatorio
        '401':
          description: No autorizado
    post:
      summary: Crear una nota para un reporte
      tags:
        - Notas de Reporte
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreNoteRequest'
      responses:
        '201':
          description: Nota creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  note:
                    $ref: '#/components/schemas/NoteResource'
        '500':
          description: Error al crear la nota
  /api/report-notes/{id}:
    get:
      summary: Obtener una nota por ID
      tags:
        - Notas de Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Nota encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteResource'
        '401':
          description: No autorizado
        '404':
          description: Nota no encontrada
    patch:
      summary: Actualizar una nota
      tags:
        - Notas de Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteRequest'
      responses:
        '200':
          description: Nota actualizada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: string
                  note:
                    $ref: '#/components/schemas/NoteResource'
        '500':
          description: Error al actualizar la nota
    delete:
      summary: Eliminar una nota
      tags:
        - Notas de Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Nota eliminada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Error al eliminar la nota
  /api/report-notes/{report_id}/add-images-for-pdf:
    post:
      summary: Agregar imágenes para PDF al reporte
      tags:
        - Notas de Reporte
      security:
        - bearerAuth: []
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportImageRequest'
      responses:
        '200':
          description: Imágenes agregadas exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Error al agregar imágenes para PDF
  /api/users:
    get:
      summary: Listar usuarios activos
      tags:
        - Usuarios
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de usuarios activos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
        '401':
          description: No autorizado
    post:
      summary: Registrar usuario (no permitido)
      tags:
        - Usuarios
      security:
        - bearerAuth: []
      responses:
        '405':
          description: Registro no permitido
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /api/users/{id}:
    get:
      summary: Obtener usuario por ID
      tags:
        - Usuarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
        '404':
          description: Usuario no encontrado
    put:
      summary: Actualizar usuario
      tags:
        - Usuarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '201':
          description: Usuario actualizado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  user:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: No autorizado
    patch:
      summary: Actualizar parcialmente usuario
      tags:
        - Usuarios
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
[...]
